section {
    display: block;
}
.main-content {
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
/* .desig {
    border-top: 0.9px;
    font-size: 5px;
} */
.left-section {
   display:block;
    border: 10px solid darkcyan;
    border-radius: 5px;
    grid-column: span 1;
    background-color: cornflowerblue;
}
.right-section {
    border: 50px solid lightskyblue;
    border-radius: 5px;
    grid-column: span 1 1/span 2;
    background-color: mediumseagreen;
}
/* .profile-details {
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
} */
.profile-image img{
    border: 5px;
    border-radius: 30px;
    width: 60%;
    display: block;
    margin: auto;
}
.left-content {
    padding: 1rem;

}
.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    padding: 0.8rem;
}
.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom:  0.8rem;
}
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}
.skill{
    font-size: 0.7rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;

}
.icon {
    display: inline;
    padding: 1rem 1rem 1rem 1rem;
  
}
.icon img {
     height: 50px;
     width:  25px;
     border: 0.5px solid lightgreen;
     border-radius: 50%;
}
.contact-item img{
    height: 40px;
    width: 20px;
    border: 0.5px;
    border-radius: 50%;
}
.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: white;
}

.right-main-content{
    padding: 2rem 3rem 2rem 3rem;
}
.right-tittle {
    text-transform: uppercase;
    font-size: 1.2;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

 @media scree and(max-width:673px){
    .main-content {
      grid-template-columns: repeat(1,1fr);
    }

} 



/* Write CSS code below */
